/*  HEADER CSS
# -------------------------------------------- */

header {
	position: relative;
	overflow-y: hidden;
	width: 100%;
	min-height: auto;
	color: #ffffff;
	background-color: #104595;
}

header h2 {
	font-size: 4rem;
}

header .container .row .col-lg-12 {
	margin: 0 auto !important;
	text-align: center;
}

header .header-content {
	position: relative;
	padding: 150px 0 50px;
	text-align: center;
}

header .header-content .header-content-inner { position: relative; max-width: 500px;
	margin: 0 auto;
}

header .header-content .header-content-inner h1 {
	font-size: 30px;
	margin-top: 0;
	margin-bottom: 30px;
}

header .header-content .header-content-inner .list-badges {
	margin-bottom: 25px;
}

header .header-content .header-content-inner .list-badges img {
	height: 50px;
	margin-bottom: 25px;
}

header .device-container {
	max-width: 300px;
	margin: 0 auto 100px;
}

header .device-container .screen img {
	border-radius: 3px;
}



/*  MEDIA QUERIES
# -------------------------------------------- */

@media screen and (max-width: 992px) {
	header .header-content .header-content-inner h1 {
		font-size: 50px;
	}
}

@media screen and (max-width: 768px) {
	header .header-content {
		height: 100vh;
		padding: 0;
		text-align: left;
	}

	header .header-content .header-content-inner {
		position: absolute;
		top: 50%;
		max-width: none;
		margin: 0;
		transform: translateY(-50%);
	}

	header .header-content .header-content-inner h1 {
		font-size: 35px;
	}

	header .device-container {
		max-width: none;
		max-height: calc(0vh);
		margin: 100px auto 0;
	}
}
